
@model Tasks
@{
    ViewData["Title"] = "Add Task";
}
    <div><a href="/Task">Tasks</a>/Add Task</div>
@{
    if (ViewData["errorMsg"] != null)
    {
        <p><strong>@ViewData["errorMsg"]</strong></p>
    }
}

@*<h1>Add Task</h1>*@
@*<input type="hidden" name="Name" value="@ViewData["Name"]" />*@
<h3 class="display-3 text-center">Please enter a new task</h3>
<form asp-controller="Task" asp-action="AddTask" method="post">
    @Html.LabelFor(m => m.TaskTitle) @Html.ValidationMessageFor(m => m.TaskTitle, "", new { @class = "text-danger" })<br />
    @Html.EditorFor(m => m.TaskTitle, new { htmlattributes = new { @class = "form-control" } })<br />

    <p>
        @Html.LabelFor(m => m.TaskDescription) @Html.ValidationMessageFor(m => m.TaskDescription, "", new { @class = "text-danger" })<br />
        <textarea id="TaskDescription" name="TaskDescription" rows="5" cols="40">@Model.TaskDescription</textarea>
    </p>

    @*@Html.LabelFor(m => m.DueDate)<br />
        @Html.EditorFor(m => m.DueDate, new { htmlattributes = new { @class = "form-control" } })<br />*@

    <div>@Html.LabelFor(t => t.DueDate) @Html.ValidationMessageFor(m => m.DueDate, "", new { @class = "text-danger" })</div>

    <div>@Html.EditorFor(t => t.DueDate)</div> 

    
    <input type="hidden" name="UserId" value="@ViewData["UID"]" /><br />
    <p><input type="submit" value="Submit" /></p>
</form>

